@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  min-height: 100%;
  font-size: 62.5%;
  font-family: "Lato";
}
body {
  height: 100%;
  background: linear-gradient(#F0FEFF, #CBE4EA, #EACDD2, #E9A9CB);
  margin: 0 3rem;
  font-size: 1.8rem;
}
a {
  transition: color 125ms ease-in-out;
  color: #cf8c2a;
  font-weight: bold;
  text-decoration: none;
  padding: .1rem;
}
a:hover {
  color: #E9A9CB;
}
ul {
  list-style-type: '~ ';
}
ul li {
  margin: 1rem 0;
}
#sun {
  width: 10rem;
  height: 5rem;
  position: fixed;
  left: calc(50vw - 5rem);
  bottom: 0;
  background-color: #FEC066;
  border-radius: 5rem 5rem 0 0;
}
h1 {
  margin-bottom: 0;
}
h3 {
  margin-top: .5rem;
  font-weight: 100;
}

@keyframes heart {
  0% { content: '💙'; opacity: 1; }
  10% { opacity: 0;  }
  20% { content: '💚'; opacity: 1;  }
  30% { opacity: 0;  }
  40% { content: '💛'; opacity: 1; }
  50% { opacity: 0;  }
  60% { content: '💜'; opacity: 1; }
  70% { opacity: 0;  }
  80% { content: '❤️'; opacity: 1; }
  90% { opacity: 0;  }
  100% { content: '💙'; opacity: 1; }
}

.vday:before {
  content: '💙';
  animation: heart 5s ease-in-out infinite;
}
.vday:after {
  content: '💙';
  animation: heart 5s ease-in-out infinite;
  margin-left: .5rem;
}
