html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(25deg, rgb(62, 105, 58), rgb(104, 172, 96));
  overflow: hidden;
  cursor: none;
}

pre {
  position: absolute;
  color: white;
  z-index: 5;
}

pre:not(.boom) {
  pointer-events: none;
}

.boom {
  top: 5% !important;
  left: 5% !important;
}

a pre {
  transition: color .125s ease-in-out;
}
a:hover pre {
  color: blue;
}


#pond {
  width: 40vw;
  height: 23vw;
  border-radius: 34% 45% 44% 48%;
  background: rgb(5, 56, 208);
  position: absolute;
  left: 45%;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#pond iframe {
  width: 80%;
  height: 100%;
  border: none;
}

.creature {
  position: absolute;
  z-index: 50;
  transition: opacity 2s ease-in-out;
  padding: 1.5rem;
  /* border: solid 1px #FFF; */
}
.creature.self {
  pointer-events: none;
}
.creature  span {
  display: block;
  /* width: .5rem; */
  /* height: .5rem; */
  border-radius: 50%;
  font-size: 1.5rem;
  /* background-color: skyblue; */
}

.creature.bee span {
  transform: rotateZ(-90deg);
}

.creature.fade {
  opacity: 0;
}

#info {
  position: fixed;
  right: .5rem;
  top: .5rem;
  width: 11rem;
  display: flex;
  flex-direction: column;
}
#nickname {
  margin-bottom: .5rem;
}
#creature-select {

}
#msg {
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 35rem;
  height: 10rem;
}
#msg.hidden {
  display: none;
}
#msg textarea {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
